body{
    padding: 0;
    margin: 0;
}
h1{
    width: 100vw;
    height: 5vh;
    text-align: center;
    padding-bottom: 4vh;
}
.container{
    position: relative;
    display:grid;
    height: 40vh;
    width: 100vw;
    grid-template-rows: 1;
    
}
.wrapper{
   background: black;
   color:white;
   font-size: 10vw;
   text-align: center;
}
.wrapper > div{
    display: inline;
    padding: 20px;
    margin:0;
}
#practice{
    display: block;
    font-size: 1vw;
}
footer{
    position: absolute;
    bottom: 0;
}