body {
  padding: 0;
  margin: 0;
  background: rgb(113, 218, 127);
}
h1 {
  width: 100vw;
  height: 5vh;
  margin-top: 0;
  text-align: center;
  padding-bottom: 4vh;
}
.container {
  position: relative;
  display: grid;
  height: 40vh;
  width: 100vw;
  grid-template-rows: 2;
  text-align: center;
  font-size: 1vw;
}
.wrapper {
  background: rgb(67, 167, 197);
  color: white;
  font-size: 10vw;
  text-align: center;
}
.wrapper > div {
  display: inline;
  margin: 0;
  padding: 20px;
}
#practice {
  display: block;
  font-size: 1vw;
}
#operationPick {
  text-align: center;
}
#answer {
  background: white;
  margin: 0;
  padding: 0;
}
#answer:hover {
  background: black;
}
#about-app {
  font-size: 2em;
  text-align: center;
}
button {
  width: 10vw;
  height: 10vh;
  font-size: 3em;
  background: white;
  border-radius: 10px;
}
input {
  display: inline;
}
footer {
  position: absolute;
  bottom: 0;
}
