body {
  padding: 0;
  margin: 0;
  background: rgb(113, 218, 127);
  font-family: "Baloo", cursive;
}
h1 {
  width: 100vw;
  height: 5vh;
  margin-top: 0;
  text-align: center;
  padding-bottom: 4vh;
  font-size: 10vw;
}
#container-head {
  font-size: 2vw;
}
.container {
  position: relative;
  display: grid;
  height: 40vh;
  width: 100vw;
  grid-template-rows: 2;
  text-align: center;
}
.wrapper {
  background: rgb(67, 167, 197);
  color: white;
}
.wrapper > div {
  display: inline;
  margin: 0;
  padding: 20px;
}
#practice {
  display: block;
  font-size: 1vw;
}

.picker {
  width: 10vw;
  height: 10vh;
  font-size: 3em;
  opacity: 0.6;
  color: rgb(0, 0, 0);
  border: groove;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.equation-set {
  display: inline;
  font-size: 5em;
}
#answer {
  background: white;
  margin: 0;
  padding: 0;
  opacity: 0.6;
  transition: opacity 0.2s;
}
#answer:hover {
  background: rgb(0, 47, 255);
  opacity: 1;
}
#about-app {
  font-size: 2em;
  text-align: center;
}
input {
  display: inline;
}
footer {
  position: absolute;
  bottom: 0;
}
#slider-range {
  transform: rotate(180deg);
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.5s;
}
#slider-range:hover {
  opacity: 1;
}
#slider-box {
  display: block;
  outline: none;
}
